.app-container {
  width: 754px;
  margin: 0 auto;
}

.tickets-search {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.tickets-output {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
